body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #000;
    background-blend-mode: darken;
}

a{
    color: #fff;
    text-decoration: none;
}

#first{
    padding-top: 5px;
    padding-left: 2vw;
    padding-right: 5vw;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    background: url("assets/Netflix\ Background.jpg") no-repeat center center/cover;
}

#first::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(0, 0, 0, 0.4);
    box-shadow: 300px 50px 300px #000, inset -120px -100px 250px #000;
}

#header{
    position: relative;
    z-index: 2;
    height: 150px;
}

#header img{
    width: 12%;
    position: absolute;
    top: 15%;
    left: 0;
    transform: translate(40% , -50%);
}

#header a{
    padding: 15px 20px;
    color: #fff;
    background-color: #e50914;
    font-weight: bolder;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 5px;
    transform: translate(-60% , -50%);
}

#about {
position: relative;
margin: 0 20%;
z-index: 2;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
margin-top: 8%;
margin-bottom: 15rem;
}

#about h1{
    font-size: 300%;
    font-weight: 800;
}

#about h2{
    font-size: 200%;
}

#about p{
    font-weight: 800;
}

.sidegroup{
    display: flex;
}

#about input{
    position: relative;
    left: 0;
    width: 454px;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    outline: none;
    border: none;
    padding: 18px 12px;
    size: 1em;
}

#about a{
    position: relative;
    height: 3rem;
    background-color: #e50914;
    color: #fff;
    padding: 18px 12px;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

#about h1{
    font-weight: 700;
    font-size: 50px;
    margin: 0 0px;
    max-width: 800px;
    line-height: 80px;
}

.divider{
    border: 3px solid rgb(154, 152, 152);
    opacity: 0.4;
  }

#second
#third
#forth
#fifth
#sixth{
    border-top: 8px rgb(69, 69, 69) solid;
    padding: 50px;
}

#second{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.dis-left{
    padding-left: 100px;
    font-size: xx-large;
}

.second img{
    grid-column: 2/2;
    grid-row: 1/2;
}

#third{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

#forth{
    font-size: xx-large;
    max-width: 50%;
    margin-left: 200px;
}

#fifth{
    position: relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.dis-right{
    padding-left: 100px;
    font-size: xx-large;
}

#sixth{
    text-align: center;
    align-items: center;
    margin-left: 500px;
}

#sixth h1{
    padding-bottom: 40px;
    font-size: 3rem;
    margin-left: 0px;
    margin-right: 500px;
}

#sixth p{
    padding-top: 60px;
    font-size: 1.2rem;
    font-weight: 200;
    margin-left: 0;
    margin-right: 500px;
}

details summary {
    width: 200px;
    background-color: #303030;
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px 210px;
    font: 50px;
  }
  
  details p {
    background-color: #303030;
    color: white;
    padding: 20px 210px;
    margin: 0;
  }

  .faqbtw{
        border: 1px solid #000;
  }

.sixth-1{
    display: flex;
    font: 50px;
}

.sixth-1 p{
font-size: larger;
}

.sixth-1 input{
    position: relative;
    left: 0;
    width: 454px;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    outline: none;
    border: none;
    padding: 18px 12px;
    size: 1em;
}

.sixth-1 a{
    position: relative;
    height: 3rem;
    background-color: #e50914;
    color: #fff;
    padding: 18px 12px;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}

#footer{
    max-width: 70%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(5 , 1fr);  
}

#footer a{
    color: #999999;
    font-size: 0.9rem;
}
#footer li{
    line-height: 2.4;
    list-style: none;
}



